:host{
    --placeholder-bg: rgb(206 212 218);
    --placeholder-width: 100%;
    --placeholder-height: 100%;
    --placeholder-color-gradient-edge: rgba(255, 255, 255, 0);
    --placeholder-color-gradient-mid: rgba(255, 255, 255, 0.35);
    display: flex;
    position: relative;
    overflow: hidden;
    width: var(--placeholder-width);
    height: var(--placeholder-height);
    background-color: var(--placeholder-bg);
}

:host:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    background: linear-gradient(to right,   var(--placeholder-color-gradient-edge) 46%,
                                            var(--placeholder-color-gradient-mid) 50%,
                                            var(--placeholder-color-gradient-edge) 54%) 50% 50%;

    -webkit-animation: phAnimation 0.8s linear infinite;
    animation: phAnimation 0.8s linear infinite;
    content: " ";
    pointer-events: none;
}

:host([loading='false']){
    display: none;
}

@-webkit-keyframes phAnimation {
    0% {
      transform: translate3d(-30%, 0, 0); }
    100% {
      transform: translate3d(30%, 0, 0); } }
  
  @keyframes phAnimation {
    0% {
      transform: translate3d(-30%, 0, 0); }
    100% {
      transform: translate3d(30%, 0, 0); } }
  